/* Reset style */
*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
img{
    max-width: 100%;
}

/* Common style */
.common-btn {
    background-color: #FD6E0A;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color: white;
    border:  none;
    cursor: pointer;

}

.outline-btn {
    background-color: white;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 22px;
    color:  #FD6E0A;
    border: 1px solid  #FD6E0A;
    cursor: pointer;

}


 .container {
    max-width: 1200px;
    margin: auto;
 }

 

nav {
    
    display: flex;
    justify-content: space-between;
      padding: 12px 0;
    
    
}

.logo {
    font-weight: bold;
    font-size: 32px;
}


.logo-r {
    color: #FD6E0A;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    align-items: center;
}

ul li a {
    text-decoration: none;


}

 
/* Hero section style */
.hero-parent-root{

}
.hero-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}


.hero-left-p-1{
font-size: 28px;
font-weight: 600;
}


.hero-left h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 12px;
}
.hero-left-btn-parent{
    margin-top: 12px;
}